*.o
*.so
*~
*.swp
*TAGS
cscope.out
autom4te.cache
config.h.in
Makefile
Makefile.in
*.lo
*.la
.deps
.libs
aclocal.m4
build-aux
config.log
config.status
configure
libtool
m4
src/config.h
src/stamp-h1
src/junkie
core.*
core
vgcore.*
junkie-*.tar.gz
tests/*.log
tests/cnxtrack_check
tests/digest_queue_check
tests/dns_check
tests/files_check
tests/flood_check
tests/hash_check
tests/http_check
tests/icmp_check
tests/ip_addr_check
tests/ip_check
tests/jhash_check
tests/liner_check
tests/log_check
tests/mallocer_check
tests/mgcp_check
tests/port_range_check
tests/redim_array_check
tests/rtcp_check
tests/sdp_check
tests/sip_check
tests/tcp_check
tests/timeval_check
tests/udp_check
tests/arp_check
doxydoc
config/instvars.scm
